.panel-body{
    font-size: 12px;
    font-weight: bold;
}

.banner {
    background-color: #c2c2c2;
    color: #3b3b3b;

}

body {
    background-color: #dddddd;
}

/* This CSS styles the ufo icon in the navbar */
.nav-ufo {
    position: absolute;
    bottom: 5px;
    left: 150px;
    width: 35px;
    color: white;
}